.MuiInputBase-input.MuiInput-input {
	font-size: 1rem;
}
.gqGVrk {
	font-size: 1rem;
}
@media (max-width: 650px) {
	.MuiInputBase-input.MuiInput-input {
		font-size: 0.7rem;
	}
	.gqGVrk {
		font-size: 0.7rem;
	}
}