.add-product {
    border-bottom: 2px solid #051a8a !important;
}

.add-images {
    border-bottom: 2px solid #82042d !important;
}

.jpSPzv {
    font-size: 1rem;
  }

@media (max-width: 650px) {
    .jpSPzv {
        font-size: 0.7rem;
      }
}