.buttongroup {
    text-align: center;
    padding: 10px;
}
.buttongroup button {
    min-width: 90px;
    margin: 5px 10px;
    font-size: 15px;
}
.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters a:hover {
    text-decoration: none;
}

.men {
    border-bottom: 2px solid #037b8e !important;
}

.newsales {
    border-bottom: 2px solid #047b1f !important;
}

.women {
    border-bottom: 2px solid #980312 !important;
}

.kids {
    border-bottom: 2px solid #0452a7 !important;
}

.others {
    border-bottom: 2px solid #ad8306 !important;
}