.buttongroup {
    display: flex;
    padding: 10px 0;
}
.buttongroup .dropdown button {
    font-size: 15px;
}

.dropdown-toggle {
    white-space:normal !important;
}

.sectionMobile {
    display: none;
}

@media (max-width: 860px) {
    .buttongroup {
        display: block;
    }
    .buttongroup .dropdown {
        text-align: center;
    }
    .buttongroup .dropdown button {
        width: 100%;
    }
    .dropdown-menu {
        width: 100%;
    }
    .sectionMobile {
        display: flex;
    }
}