.makeStyles-grow-1 {
	font-family: inherit !important;
}
.MuiTypography-h6 {
	font-family: inherit !important;
}
.MuiMenu-list {
	display: grid;
}
.MuiButton-root {
	text-transform: none !important;
}
.makeStyles-sectionDesktop-10 {
	a {
		margin: auto;
	}
}
.MuiMenuItem-root {
	font-size: 15px !important;
}
.my-profile {
	color: inherit;
	&:hover {
		color: inherit;
	}
}
.navbar {
	padding: 0.3rem 1rem !important;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text.signin {
	color: #fff;
}
.makeStyles-sectionDesktop-199.form-inline {
	margin-right: 20px;
}
.dropdown-toggle {
	&::after {
		content: none !important;
	}
}
#dropdown-basic {
	color: #fff !important;
}
#moreicon {
	color: #fff !important;
}
.dropdown-menu {
	margin: .525rem 0 0 !important;
	border-radius: 0 !important;
	min-width: 12.5rem !important;
}
.dropdown-item.active {
	background-color: #fff !important;
	color: black !important;
}
.dropdown-item {
	&:active {
		background-color: #fff !important;
		color: black !important;
	}
}