.makeStyles-grow-1  {
    font-family: inherit !important;
}
.MuiTypography-h6 {
    font-family: inherit !important;
}
.makeStyles-searchIcon-6 {
    color: yellowgreen;
}
.MuiIconButton-label {
    color: yellowgreen;
}
.MuiBadge-anchorOriginTopRightRectangle {
    color: red !important;
    border: 1px solid red;
    background-color: #fff !important;
}
.MuiMenu-list {
    display: grid;
}
.MuiButton-root {
    text-transform: none !important;
}
.makeStyles-sectionDesktop-10 a {
    margin: auto;
}
.MuiMenuItem-root {
    font-size: 15px !important;
}
.my-profile {
    color: inherit;
}
.my-profile:hover{
    color :inherit;
    text-decoration: none;
}
.signin {
    color: #28a745 !important;
}