body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body, html {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.btn-info {
  border-bottom: 2px solid #036b7b !important;
}

.btn-success {
  border-bottom: 2px solid #047b1f !important;
}

.btn-danger {
  border-bottom: 2px solid #980312 !important;
}

.btn-primary {
  border-bottom: 2px solid #0452a7 !important;
}

.btn-warning {
  border-bottom: 2px solid #9a7404 !important;
}

.MuiButton-containedSecondary {
  border-bottom: 2px solid #82042d !important;
}

.MuiButton-containedPrimary {
  border-bottom: 2px solid #051a8a !important;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

a:hover {
  text-decoration: none !important;
}

.MuiSelect-select:focus {
  background-color: inherit !important;
}

.btn.focus, .btn:focus {
  box-shadow: none !important;
}

